<div class="container">
  <header>
    <h1>3D Calc</h1>
    <a
      class="github-fork-ribbon"
      href="https://github.com/WanielDeiss/3d-calc/"
      data-ribbon="Fork me on GitHub"
      title="Fork me on GitHub"
    >
      Fork me on GitHub
    </a>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="text-center">
    <a
      href="https://github.com/WanielDeiss/3d-calc/"
      target="_blank"
      rel="nofollow"
    >
      OpenSource Project
    </a>
    from Daniel L. Weiß |
    <a
      href="https://github.com/WanielDeiss/3d-calc/blob/main/LICENSE"
      target="_blank"
      rel="nofollow"
    >
      GNU General Public License v3.0 Licence
    </a>
    | <a href="https://blog.sircode.xyz/impressum" target="_blank">Impressum</a>
  </footer>
</div>
