<div class="row">
  <div class="col-md">
    <ul ngbNav #nav="ngbNav" class="nav nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Print Object</a>
        <ng-template ngbNavContent> foo bar </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Settings</a>
        <ng-template ngbNavContent>
          <app-printer></app-printer>
          <app-electricity-provider></app-electricity-provider>
          <app-filament></app-filament>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
  <div class="col-md-auto">
    <div class="calc-results">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Costs</h5>
        </div>
      </div>
    </div>
  </div>
</div>
